@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: "abnes";
  src: url("./assets/abnes.otf") format("woff"), url("./assets/abnes.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(197, 164, 120);
  font-family: math;
}

html {
  font-size: 62.5%;
  min-width: 100%;
  min-height: 100vmin;
}

body {
  max-width: 100%;
}

i {
  color: black;
}

a {
  text-decoration: none;
}

.hidden {
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

body {
  background-color: #2D2B28;
}
body #app header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-height: 10rem;
  max-width: 100%;
  min-width: 40rem;
}
body #app header h1 {
  color: rgb(197, 164, 120);
  font-size: 3.5rem;
  font-family: "abnes";
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
  flex-basis: 50%;
}
body #app header .break {
  flex-basis: 0;
  width: 0%;
}
body #app header .pageIndicator {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body #app header .pageIndicator > p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body #app header .pageIndicator .fa-solid {
  font-size: 4rem;
  cursor: pointer;
  color: rgb(197, 164, 120);
  font-family: FontAwesome !important;
  font-style: normal;
  padding: 1.5rem;
}
body #app header .pageIndicator .pageNo {
  font-size: 3rem;
}
body #app header .search .wrap {
  display: inline-flex;
}
body #app header .search input {
  border: 3px solid rgb(197, 164, 120);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 4rem;
  color: black;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 1rem;
}
body #app header .search button {
  border: 3px solid rgb(197, 164, 120);
  margin-left: -0.3rem;
  background-color: rgb(197, 164, 120);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}
body #app .divider {
  background-color: rgb(197, 164, 120);
  min-width: 100%;
  min-height: 1.5rem;
}
body #app main {
  display: flex;
  justify-content: center;
  background-image: url("./assets/4320247.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 10rem;
}
body #app main #api {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80vw;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: rgba(58, 51, 45, 0.1);
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
body #app main #api .item {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 3rem;
  width: 60rem;
  min-height: 45rem;
  max-height: 42rem;
  border: double 0.5rem rgb(197, 164, 120);
  outline: black 6px;
  margin-bottom: 6rem;
  background-color: rgba(197, 164, 120, 0.3);
  text-shadow: 1px 1px 1px black;
}
body #app main #api .item > img {
  margin-bottom: 1.5rem;
  cursor: pointer;
  min-width: 90%;
  max-width: 90%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body #app main #api .item > title {
  flex-basis: 50%;
  min-width: 50%;
  max-width: 50%;
}
body #app main #api .item .extra {
  background-color: rgba(132, 199, 192, 0.95);
  -webkit-backdrop-filter: blur(10rem);
          backdrop-filter: blur(10rem);
  font-size: 3rem;
  margin: -0.1rem 0rem 0rem -30rem;
  max-width: 50%;
  min-width: 50%;
  min-height: 100%;
  z-index: 2;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  animation-name: example;
  animation-duration: 1s;
}
@keyframes example {
  from {
    transform: translate(10%);
    opacity: 0;
  }
  to {
    transform: translate(0%);
    opacity: 1;
  }
}
body #app main #api .item .extra u {
  font-size: larger;
  color: white;
  text-decoration: none;
}
body #app main #api .item .extra > p {
  color: white;
  font-size: 2rem !important;
  margin: 1rem !important;
}
body #app main #api .item .extra #description {
  font-size: 0.5rem;
}
@media screen and (max-width: 940px) {
  body #app main #api .item p > img {
    height: 20rem;
  }
  body #app main #api .item .item:first-child {
    margin-top: 10rem;
  }
}
body #app main #api .item .title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-basis: 50%;
}
body #app main #api .item .title h1 {
  text-decoration: underline;
  font-size: 2.5rem;
}
body #app main #api .item .title p {
  font-size: 2rem;
  text-decoration: none;
}

@media screen and (max-width: 940px) {
  html {
    width: 100%;
    min-width: 100%;
  }
  #app {
    min-width: 40rem;
  }
  #api {
    min-width: 40rem;
  }
  header {
    flex-direction: column !important;
    margin-bottom: 20rem !important;
  }
  .divider {
    min-width: 100%;
  }
  main {
    min-width: 40rem;
  }
  .item {
    flex-direction: column !important;
    max-height: unset !important;
    min-height: unset !important;
  }
  .item > .title {
    width: 80% !important;
  }
  .item > .extra {
    margin: unset !important;
    max-width: unset !important;
    min-width: unset !important;
    min-height: unset !important;
    overflow: unset !important;
  }
  .item > .extra > p {
    color: #2D2B28 !important;
  }
}/*# sourceMappingURL=style.css.map */